.hero {
    background-color: var(--color-bg1);
}

.hero .container {
    padding-inline: 128px;
    padding-block: 64px 128px;

}

.hero__titel {
    font-size: var(--BG-text-U);
    font-weight: 400;
    line-height: 0.8;
    color: var(--color-brand2);
    text-align: center;
}

.hero__content {
    margin-top: 64px;
    display: flex;
    gap: 128px;
}



.hero__content .cird {
    padding: 37px 24px;
    border: 4px solid var(--color-white);
    border-top-left-radius: 160px;
    border-bottom-right-radius: 160px;
}

.cird .profile {
    text-align: center;
}

.cird .profile .name {
    font-size: var(--Logo-M);
    font-family: var(--font-2);
    color: var(--color-white);
    font-weight: 500;
    line-height: 1.3;
    margin-top: 16px;
}

.cird .profile p {
    font-size: var(--Code-M);
    font-family: var(--font-2);
    font-weight: 400;
    line-height: 1.2;
    color: var(--color-white);
}

.cird .info {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.cird .info h3 {
    color: var(--color-white);
    font-family: var(--font-2);
    font-size: var(--Code-M);
    font-weight: 400;
    line-height: 1.2;
}

.cird .info h3 i {
    color: var(--color-brand1);
    font-size: 20px;
    margin-right: 16px;

}

.cird .capsuls {
    margin-top: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 32px;
}

.cird .capsuls span {
    color: var(--color-bg1);
    font-family: var(--font-2);
    font-size: var(--Code-M);
    font-weight: 400;
    line-height: 1.2;
    background-color: var(--color-brand1);
    padding-inline: 8px;
    border-radius: 8px;
}

.cird .cv {
    font-size: var(--Button-U);
    font-weight: 400;
    line-height: 1.2;
    color: var(--color-bg1);
    padding: 16px 32px;
    background-color: var(--color-white);
    border-radius: 32px;
    margin-bottom: 37px;
}

.cird .cv i {
    margin-left: 16px;
    color: var(--color-bg1);
}
.hero__content .hero__discribtion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 74px;
}
.hero__discribtion .left h2 {
    font-size: var(--H1-U);
    font-weight: 400;
    line-height: 1.1;
    color: var(--color-white);
}
.hero__discribtion .left h2 .mobile {
    display: none;
}
.hero__discribtion .left .h1 {
    font-size: var(--Code-M);
    font-weight: 400;
    line-height: 1.2;
    color: var(--color-brand1);
}
.hero__discribtion .left .h1_2 {
    margin-left: 16px;
}
.hero__discribtion .left .color {
    color: var(--color-brand1);
}
.hero__discribtion .left p {
    margin-top: 32px;
    font-family: var(--font-2);
    font-size: var(--Para-M);
    line-height: 1.2;
    font-weight: 400;
    color: var(--color-white);
    margin-bottom: 16px;
}
.hero__discribtion .left p .p_1 {
    margin-bottom: 16px;
}
.hero__discribtion .left p .p_2 {
    margin-top: 16px;
}
.hero__discribtion .left .talk {
    text-transform: capitalize;
    font-size: var(--H2-M);
    font-family: var(--font-2);
    font-weight: 500;
    line-height: 0.7;
    color: var(--color-brand1);
}
.hero__discribtion .left .talk i {
    margin-left: 16px;
    font-size: 30px;
    background-color: var(--color-gray);
    padding: 8px;
    border-radius: 40px;
}
.hero__discribtion .right {
    background-color: var(--color-bg2);
    padding: 48px 32px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    border-radius: 80px;
}
.hero__discribtion .right .right__content {
    display: flex;
    align-items: center;
}
.hero__discribtion .right .right__content span {
    font-family: var(--font-2);
    font-size: var(--Number-M);
    font-weight: 500;
    line-height: 1.2;
    color: var(--color-brand1);
    margin-right: 16px;

}
.hero__discribtion .right .right__content p {
    font-family: var(--font-2);
    font-size: var(--Para-M);
    font-weight: 400;
    list-style: 1.2;
    color: var(--color-white);
}
@media (max-width:1280px) {
    .hero__content {
        flex-direction: column;
        align-items: center;
    }
    .hero__content .cird {
        width: fit-content;
    }
}
@media (max-width:768px) {
    .hero__titel {
        display: none;
    }
    .hero__content .hero__discribtion {
        flex-direction: column;
    }
    .hero .container {
        padding-inline: 60px;
    }
}
@media (max-width:390px) {
    .hero .container {
        padding-inline: 35px;
    }
    .hero__content {
        gap: 64px;
    }
    .hero__content .hero__discribtion {
        gap: 64px;
    }
    .hero__discribtion .left h2 {
        font-size: var(--H2-U);
    }
    .hero__discribtion .left h2 .mobile {
        display: block;
    }
    .hero__discribtion .left .h1_2  {
        margin-left: 0;
    }
    .hero__discribtion .left p .mobile__heden {
        display: none;
    }
}